!!!
%html
  %head
    %title CreditPlans
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "cerulean.bootstrap"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "https://code.jquery.com/jquery-1.10.2.min.js"
    = javascript_include_tag "http://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"
    = javascript_include_tag "http://bootswatch.com/assets/js/bootswatch.js"
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{:href => "../"} Planes de Credito
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav   
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to @account.name, new_credit_plan_path(@account.id)
    .container
      #banner.page-header
        .row
          .col-lg-8.col-md-7.col-sm-6
            %h4 
              - if notice
                %p.alert.alert-success= notice
              - if alert
                %p.alert.alert-danger= alert
        .row
          %br
          =yield
